* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e6e5ea;
  background-color: #08070b;
  font-family: "JetBrains Mono";
  display: flex;
  align-items: center;
  justify-content: center;
}
